<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
    <form method="POST" action="/user/add">
        <input name="name", value="">
        <input name="email", value="">
        <button type="submit">Submit</button>
    </form>

</body>


</html>